__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.venv/
build/
dist/
*.vcf
*.vcf.gz
*.vcf.gz.tbi
*.h5
*.hdf5
*.keras
*.fa
*.fasta
*.fa.fai
*.fasta.fai
*.gtf
*.gtf.gz
*.sif
validation/results/**/responses/
